@charset "utf-8";

.x-button {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 1;
  background: #5081ff;
  color: #fff;
  font-size: 14px;
  border: 1px solid #2c61e9;
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1);
  padding: 0 20px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-user-select: none;
  outline: none;
  &:hover {
    background: #4677f5;
  }
}
