@charset "utf-8";

.user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  background-color: #d0d8e1;
  border-radius: 50%;
  position: relative;
  &.mini {
    width: 34px;
    height: 34px;
    font-size: 12px;
  }
}
