@charset "utf-8";

.user-header {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #d0d8e1;
  border-radius: 50%;
  position: relative;
}
